*::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: #2f184b;
    margin: 0;
    height: 100%;
}

#logo {
    width: 5%;
    position: absolute ;
    top: 0px;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #f4effa;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.5px;
}

.parent {
    margin: 0 20px;
    display: flex;
    /*flex-direction: column;*/
    gap: 45px;
    justify-content: center;
    align-items: center;
}

#information {
    /*grid-area: 1 / 1 / 2 / 3;*/
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #f4effa;
    text-align: center;
}

a {
    color: #f4effa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: ##2f184b;
}

#map {
    border: black 1px solid;
    /*width: 45vw;
    height: 40%;*/
    position: relative;
}

#slide {
    /*grid-area: 2 / 2 / 3 / 3;*/
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    z-index:1000;
    width:35%;
}

.slider {
    /*grid-area:2/2/3/3;*/
    /*transform: translate(50%, -250%);*/
    width: 100%;
    background: #f4effa;
    border-radius: 20px;
}
#rangeValue {
    position: relative;
    top: 0%;
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    color: #2f184b;
    font-weight: 400;
}

#cursorSlide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f4effa;
    border-radius: 50px;
    width: 100%;

}

#explication {
    /*grid-area: 2 / 2 / 3 / 3;*/
    padding: 5%;
    /* width: 100%; */
}

p {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #f4effa;
    /* width: 100%; */
}

nav {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.info {
    padding: 6px 8px;
    font: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: #f1ecf5c3;
    box-shadow: #c8b1e4 1px 1px 0 0;
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
}

.legend {
    color: #2f184b;
    font-family: 'Open Sans', sans-serif;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* infos concept */

    .concept{
        position: relative;
        background-color: #c5e8ff;
        border-radius: 20px;
        margin: 2% 5% 0% 5%;
        padding: 1% 5%;
        font-family:  'Catamaran', sans-serif;
    }
    ul{
        list-style-type: none;
      }
    .concept>p{
        color:black;
    }
    .concept>p>a{
        color:black;
        text-decoration:underline;
    }
.concept>p>a:hover{
    color: ##2f184b;
}


/* RESPONSIVE */
@media (max-width: 700px) {
    
    #logo{
        width: 40%;
        margin: 0 30%;
    }
    h1{
        margin-top: 30%;
    }

    .parent{
        display: flex;
        flex-direction:column;
        /*height:100%;*/
        justify-content:flex-start;
    }

    #map {
        border: black 1px solid;
        width: 80vw!important;
        height:60vh!important;
        /*position: absolute;*/
        /*margin: 0 25%;*/
    }

    #slide {
        width: 90%;
        display: flex;
        align-self: center;
        justify-self: center;
        border-radius: 20px;
        justify-content: center;
        align-items:center;
    }
    
    .slider {
        /*grid-area: 5 / 1 / 6 /2;*/
        
    }
    #rangeValue {
        position: relative;
        top: 0%;
        display: block;
        text-align: center;
        font-size: 3em;
        font-family: 'Lato', sans-serif;
        color: #2f184b;
        font-weight: 400;
    }
    
    #cursorSlide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100px;
        background-color: #f4effa;
        border-radius: 20px;
        width: 500px;
    
    }
    
    #explication {
        /*grid-area: 4 / 1 / 5 / 2;*/
        padding: 5%;
        text-align: center;

    }
    #fader{
        width: 200px;
    }
  }
