*::after {
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body {
    background: #2f184b;
    margin: 0;
    height: 100%;
}

h1 {
    text-align: center;
    color: #f4effa;
    font-family: 'Abril Fatface', cursive;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 100%;
    justify-content: auto;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    }
    #information {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #f4effa;
    text-align: center;
    }
    a{
        color:#f4effa;
        text-decoration:none;
    }
    a:hover{
        text-decoration: underline;
        color: #9b72cf;
    }
    #map {
        grid-area: 2 / 1 / 4 / 2; 
        border: black 1px solid;
        position: absolute;
        top: 28%;
    }
    #slide { grid-area: 2 / 2 / 3 / 3; 
        z-index: 2;
    }
    .slider {
        /*position: absolute;*/
        transform: translate(50%, -250%);
        padding : 5%;
        max-width: 300px;
        background: #f4effa;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*.slider input[type="range"] {
        outline: none;
    }*/
    #rangeValue {
        position: relative;
        top: 0%;
        display: block;
        text-align: center;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
        color: #2f184b;
        font-weight: 400;
    }
    #cursorSlide{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #explication { 
        grid-area: 3 / 2 / 4 / 3; 
        border: black 1px solid;
        transform: translate(70%, -950%);
        max-width: 240px;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        /* max-width: 220px; */
        /* border-radius: 20px; */
        
    }
    p{
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
        color: #f4effa;
    }

#rouge { 
    width: 50px;
    height: 50px;
    background-color: #E32932;
    display: flex;
    position: relative;
    margin: 0% 1% 1% 10%;
    top: 20%;
}

#jaune {
    width: 50px;
    height: 50px;
    background-color: #F6AA1C;
    display: flex;
    position: relative;
    margin: 0% 1% 1% 10%;
    top: 40%;
}

#violet {
    width: 50px;
    height: 50px;
    background-color: #BE95C4;
    display: flex;
    position: relative;
    margin: 0% 1% 1% 10%;
    top: 60%;
}

#bleu {
    width: 50px;
    height: 50px;
    background-color: #5A90D6;
    display: flex;
    position: relative;
    margin: 0% 1% 1% 10%;
    top: 80%;
}

#gris {
    width: 50px;
    height: 50px;
    background-color: #b0b0b0;
    display: flex;
    position: relative;
    margin: 0% 1% 1% 10%;
    top: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.info {
    padding: 6px 8px;
    font: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: #f1ecf5c3;
    box-shadow: #c8b1e4 1px 1px 0 0 ;
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
}
.legend {
    color: #2f184b;
    font-family: 'Open Sans', sans-serif;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}